* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

/*******************
***** Defaults *****
*******************/

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*******************
****** Header ******
*******************/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./img/mainBackground.png");
    background-position: center;
    background-size: cover;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main {
    width: 90vw;
    height: 100%;
}


/*******************
******* NAV *******
*******************/

.nav-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

nav .logo {
    height: 40px;
    padding-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-right: 10%;
}

nav ul li {
    font-weight: 900;
}

nav ul li a {
    color: #fff;
}

.nav-underline {
    background-color: #fff;
    height: 2px;
    width: 95%;
    margin-right: 50px;
}

/***** HERO ******/

.hero {
    margin-left: 70px;
    width: 550px;
    margin-top: 60px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 800;
    color: #fff;
}

.hero p {
    font-size: 18px;
    width: 75%;
    margin: 30px 0px;
    font-weight: 600;
    color: #fff;
}

.hero button {
    background: #6663e9;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    color: #ffffff;
    font-weight: 800;
    font-size: 18px;
}


/***** ads *****/

.ads {
    width: 100%;
    background-color: #f5f8fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ads-main {
    width: 90%;
}

.ads-main-heading {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ads-main-heading h1 {
    color: #000;
    font-size: xx-large;
    text-align: center;
    font-weight: 800;
}


/******** Contact form ****** */
.contact-form{
    background-color:  #6663e9;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;

}
.contact-form h3{
    text-align: center;
    font-size: x-large;

    padding: 1rem;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    resize: vertical;
}

input[type=submit] {
    background-color:  #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #7b29b9;
}


/* ******* Cards ****** */

.properties-container, .properties-container-rent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 2rem;
}

.property-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.property-details {
    padding: 15px;
}

.property-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.property-details .location {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.property-details .price {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

.property-details .description {
    font-size: 14px;
    color: #444;
    margin-bottom: 20px;
}

.rooms-info, .smoke{
    margin-right: 0.5rem; 
}

.bath-info, .rules {
    display: inline-block; 
    padding-bottom: 1rem;
}

.property-details .rooms, .pets, .smoke {
    font-size: 11px;
    color: #2b2b2b;
    margin-top: 0.5rem;

}

/* Estilos para propiedades que permiten mascotas */
.pets-allowed, .smoke-allowed {
    color: green;
}

/* Estilos para propiedades que no permiten mascotas */
.pets-not-allowed , .smoke-not-allowed  {
    color: red;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.card-buttons .btn {
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 30px;
    padding: 10px 30px;
    color: #ffffff;
    font-weight: 500;
    font-size: small;
}

.details-btn {
    background-color: #6663e9;
}

.details-btn:hover {
    background-color: #7b29b9;
}

.contact-btn {
    background-color: #212621;
}

.contact-btn:hover {
    background-color: #4f4c4b;
}

/******************
***** Footer ****** 
******************/

footer {
    width: 100%;
    background-color: #f5f8fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.footer-main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}

.footer-left > img {
    width: 150px;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    width: 45px;
}

.footer-left p {
    font-weight: 700;
    font-size: 18px;
    width: 58%;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links ul li {
    font-weight: 600;
    font-size: 18px;
}

.footer-links ul li:first-child {
    font-weight: 900;
    font-size: 24px;
}

.footer-links ul li a {
    color: #000;
}